* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  z-index: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1,h2,h3,h4,h5,h6,p,span{
  /* font-size: 5rem; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  background-image: url('../../public/image/wall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}





/*
.color1 { #fe6c2b };
.color2 { #d43b2d };
.color3 { #9f102c };
.color4 { #340016 };
.color5 { #020001 };

.color1 { #820081 };
.color2 { #fe59c2 };
.color3 { #fe40b9 };
.color4 { #fe1cac };
.color5 { #390039 };


.color1 { #e4f3d8 };
.color2 { #afcacc };
.color3 { #ffa02e };
.color4 { #e80560 };
.color5 { #331d4a };
*/